.div-footer-container {
    /* position: fixed; */
    width: 100vw;
    /* bottom: 0; */
    /* height: 125px; */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}

.footer-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content .ml-logo {
    max-width: 80px;
    margin: 2vh 0 0 2vh;
    overflow: hidden;
    flex: 1.5;
    /* box-shadow: 0px 0px 5px rgb(0, 140, 255); */
}

.local-details {
    font-size: .8rem;
    color: #ffffff;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.local-details ion-icon {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: .35rem;
}

.social-networks {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .35rem 0 0 0;
}

.div-footer-container .javier-gamboa {
    color: #ffffff;
    position: relative;
    bottom: .75vh;
    list-style-type: none;
    font-size: .65rem;
}

.div-footer-container .javier-gamboa:hover {
    color: rgb(213 213 213);
}