.div-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-principal {
    width: 100%;
}

.page-content {
    position: relative;
}
