.div-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-principal,
.page-content {
    width: 100%;
    flex-direction: column;
    position: relative;
}

.moto-details,
.photo-payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moto-details {
    width: 90vw;
    margin: 0 5vw;
}

.photo-payments {
    width: 100%;
    margin: 2vh 0 0;
}

.moto-carrousel {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    position: relative;
}

.swiper {
    width: 250px;
    height: 250px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.payments {
    width: 100%;
    position: relative;
    margin: 3vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payments h1 {
    font-size: 1.25rem;
}

.medios-de-pago {
    width: 90%;
    max-width: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.medios-de-pago p,
.contact-credit p {
    text-transform: uppercase;
}

.ionicons_payments {
    display: flex;
    font-size: 1.25rem;
}

.ionicons_payments ion-icon {
    margin: .5rem;
}

.price-moto p,
.quotas p {
    text-align: left;
    margin: .35rem 0;
}

.quotas h4 {
    margin: .3rem 0;
    color: brown;
    letter-spacing: 1.1px;
    text-decoration: underline;
}

.modal-credito {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
}

.button-modal {
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: .5rem;
    border: none;
    background-color: red;
}

.button-modal:hover {
    background-color: rgb(168, 0, 0)
}

.modal-form {
    position: relative;
    margin: .5rem 0 0;
}

.modal-form-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-form-window h2 {
    font-size: 1rem;
    margin: 0 0 .5rem;
}

.modal-form-window input {
    width: 70%;
    margin: .3rem 0;
    padding: .5rem;
    cursor: pointer;
}

.buttons_send_form {
    padding: .5rem 0;
}

.buttons_send_form button {
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: .7rem;
    margin: 0 1rem;
    background-color: red;
    border: none;
}
    
.buttons_send_form button:hover {
    background-color: rgb(168, 0, 0)
}


.moto-features,
.features-details {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moto-features {
    margin: 0 0 2rem 0;
}

.features-description,
.features {
    padding: .75rem;
}

.features {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.features-rows {
    width: 80%;
    max-width: 550px;
    margin: 1rem;
    border-bottom: 1px solid lightcoral;

    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 700px) {
    
    .photo-payments {
        flex-direction: row;
    }
}