.div-principal,
.page-content,
.us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-principal {
    width: 100%;
}

.page-content {
    position: relative;
}

.map,
.us p {
    width: 90vw;
}

.map {
    height: 400px;
    margin: 3rem 5vw;
    border: 4px solid #000;
}

.map,
.map iframe {
    border-radius: 15px;
}

.us {
    margin: 1rem 5vw 3rem;
}

.us p {
    font-size: 1rem;
    margin: 1rem 0;
    padding: .5rem;
    text-align: justify;
}