.div-principal,
.page-content,
.us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-principal {
    width: 100%;
}

.page-content {
    position: relative;
}

.patent-services {
    width: 100%;
    margin: 2vh 0;
    font-size: .9rem;
    overflow-x: auto; /* scroll si no entra */
}

.services-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;
}

.services-table thead {
    background-color: lightgray;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.services-table th,
.services-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.services-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* filas pares */
}

.services-table tbody tr:hover {
    background-color: #f1f1f1; /* efecto hover opcional */
}
