* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../public/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT-1.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.App {
    position: relative;
    width: 80vw;
    max-width: 1280px;
    height: 500px;
    margin: 0 10vw;
    /* background-color: rgb(189, 107, 189); */
    text-align: center;

    font-family: 'Bahnschrift', sans-serif;
}

/* @media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
} */